*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'fuenteRick';
    src: url(/fuentes/get_schwifty.ttf);
}

body {

    width: 100%;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #262C3A;
    
}

.rick {

    width: 50%;
    height: 50vh;
    margin-right: 50rem;
    margin-left: 10rem;
}
.copia{
    width: 50%;
    height: 50vh;
    margin-left: 50rem;
    
}

h1{
    font-family: 'fuenteRick';
    font-size: 180px;
    color: #00b0c8;
    text-shadow: 3px 3px 10px #87E572, 3px -2px 15px #87E572, -1px 3px 15px #87E572, -2px 3px 15px #87E572 ;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.809);
    -webkit-text-fill-color: 1px #000000;
    position: absolute;
}


main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 35, 41);
}

#input{

    width: 80%;
    height: 40px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-radius: 20px;
    margin: 2%;

}

.container-cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(32, 35, 41);
    
}
.content {
    width: 31.3%;
    height: 290px;
    background-color:#3d3d3f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    border-radius: 20px;
    text-align: center;
}

.cardContent{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    font-family: 'fuenteRick';
    text-shadow: 1px 1px 0 #cbde7c, 1px -1px 0 #cbde7c, -1px 1px 0 #cbde7c, -1px -1px 0 #cbde7c ;
    color: #00b0c8;
    
}

.names{

    font-size: 35px;
}

.species{
    font-size: 25px;
}

.containerImg{

    width: 50%;
    height: 100%;
    object-fit: contain;
}

.images{

    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0 ;
}


